h1{
	font-family: "Verdana", sans-serif;
	color:black;
	margin-top: 4em;
	font-size: 150%;
}
main p{
	font-family: "Verdana", sans-serif;
	color:black;
	margin-top: 1em;
	width: 100%;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 2em;
}
h2{
	font-family: "Verdana", sans-serif;
	color:black;
	margin-top: 1em;
	margin-left: 20%;
	font-size: 150%;
}
h3{
	font-family: "Verdana", sans-serif;
	color:black;	
	font-size: 150%;
}
.titel{
	width: 50%;
  	padding-left: 20%;
  	font-size: 150%;
}
.deel1{
  	width: 50%;
  	padding-left: 25%;
}
.deel2{
  	width: 50%;
  	padding-left: 25%;
  	margin-bottom: 3.7em;
}
main a{
	font-family: "Verdana", sans-serif;
	margin-top: 1em;
	margin-bottom: 1em;
}
/* unvisited link */
main a:link {
  	color: black;
    text-decoration: underline;
}
/* visited link */
main a:visited {
    color: black;
    text-decoration: underline;
}
/* mouse over link */
main  a:hover {
   color: #244799;
   text-decoration: underline;
}
/* selected link */
main  a:active {
   color: #244799;
   text-decoration: underline;
}