body{
    display:flex;
    background-color: #ffffff;
    font-family: Helvetica, sans-serif;
}
nav{
    z-index: 50;
    width: 175px;
    height: 100%;
    background-color: rgb(41, 41, 41);
    color: white;
    overflow: auto;
}
.navbar{
    overflow: auto;
}
.controls{
    display: flex;
    flex-direction: column;
}

.button {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: black;
    text-align: center;
    font-size: 0.8vw;
    padding: 0.5em;
    transition: all 0.3s;
    cursor: pointer;
    margin: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}

.button:hover {
    background-color: rgb(186, 186, 186);
}

.controls label{
    width: 75%;
    margin-left: 1em;
}
.input{
    width: 75%;
    margin-left: 1em;
}

.img{
    width: 3vw;
    padding: 0.5em;
    margin-left: 2em;
}
.furniture-blocks{
    display: flex;
    flex-direction: column;

}
.contentBlock{
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    background-color: rgb(229, 229, 229);
    width: 10em;
    border-radius: 15px 15px 15px 15px;
    padding-bottom: 0.5em;
}
.contentBlock img{
    width: 2.8em;
    height: auto;
    transition: 0.5s;
}
.contentBlock img:hover {
    transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    transition: 0.5s;
}
.contentBlock h2{
    color: black;
    background-color: rgb(183, 183, 183);
    padding: 0.5em;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}
.items{
    display: flex;
    flex-wrap: wrap;
}