/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: "Trebuchet MS", serif;
    text-align: center;
}

.sidebar img {
    padding: 10px;
    width: 100px;
    height: auto;
}

/* Sidebar links */
.contentSidebar a {
    display: block;
    color: white;
    padding: 20px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: normal;
    text-transform: uppercase;

}

.contentSidebar a {
    color: #ffffff;
    text-decoration: none;
    background-image: linear-gradient(#222b40, #222b40),
      linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
      /*misschien kleur van op index foto hier onder?*/
      linear-gradient(#8d8d8d, #8d8d8d);
    background-size: 20px 2px, 100% 2px, 0 2px;
    background-position: calc(20px * -1) 100%, 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.7s linear;
  }
  
  .contentSidebar a:hover {
    background-size: 20px 2px, 0 2px, 100% 2px;
    background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%;
  }
  



/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 200px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        Width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
        padding-top: 35px;
    }

    div.content {
        margin-left: 0;
    }
}

/* On screens that are less than 555px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 555px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

/*code for the footer*/
main {
    padding-bottom:100px;   /* Height of the footer */
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 100px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

footer a {
    padding-left: 2em;
    padding-right: 2em;
    font-family: "Trebuchet MS", serif;
    color: white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    text-decoration: none;
}