.responsive {
    height: auto;
    max-width: 100%;
}
.responsiveHalveGrootte {
    height: auto;
    max-width: 50%;
}
.responsive1VierdeGrootte {
    height: auto;
    max-width: 25%;
}
.unselectable {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.text {
    font-family: "Trebuchet MS",serif;
    padding-left: 3em;
    padding-right: 1em;
    padding-top: 1em;
    width: 35em;
}
.eersteBlok img{

}

