.responsive {
    height: auto;
    max-width: 100%;
}

.responsiveHalveGrootte {
    height: auto;
    max-width: 50%;
}

.responsive1VierdeGrootte {
    height: auto;
    max-width: 25%;
}

.unselectable {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.eersteBlok {
    font-family: "Trebuchet MS", serif;
    width: 35em;
    padding-left: 10em;
    padding-top: 5em;
    line-height: 1.3em;
}
.eersteBlok h1{
    text-decoration: underline;
    padding-bottom: 0.5em;
    font-size: 1.2rem;
}

.tweedeBlok {

}

