.textSupport {
	padding: 2em 10% 0;
}
.suportContent {
	display: flex;
	flex-direction: column;
    justify-content: space-around;
    align-items:stretch;
}
.textSupport h2{
    padding-bottom: 1em;
    font-size: 4.5vw;
	font-weight: bold;
}
.supportForm{
	display: flex;
	flex-direction: column;
	align-items: center;
}
form{
	margin: 3rem auto;
	width: 75%;
	display: flex;
	flex-direction: column;
	align-content: center;
	font-size: 150%;
}
label, input, textarea, button{
	display: flex;
	width: 100%;
}
label{
	font-weight: bold;
}
input, textarea{
  padding: 1em;
  margin: 1.5em 0 2em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
	resize: vertical;
}
input[type=submit]{
	display: block;
	background-color: #24a0ed;
	color: white;
	font-size: 70%;
	transition: all 0.5s;
}
input[type=submit]:hover{
	background-color: #027ecb;
	cursor: pointer;
	transition: all 0.5s;
}
.mySubmit{
	text-align: center;
}
p{
	margin: 0 10% 0 2%;
	font-size: 1.6vw;
	text-align: center;
}
@media only screen and (max-width: 600px) {
	p{
		font-size: 3vw;
	}
}