.textSupport {
	text-align: left;
	padding: 2em 7% 0;
	font-size: 1.1em;
}
.suportContent {
	display: flex;
	flex-direction: column;
    justify-content: space-around;
    align-items:stretch;
}
.textSupport h2{
    padding-bottom: 1em;
    font-size: 3.5em;
}
.supportForm{
	display: flex;
	flex-direction: column;
	align-items: center;
}
form{
	margin: 4em auto;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-content: center;
	font-size: 150%;
}
label, input, textarea, button{
	display: flex;
	width: 100%;
}
input, textarea{
  padding: 1em;
  margin: .7em 0 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit]{
	background-color: #24a0ed;
}
input[type=submit]:hover{
	background-color: #008080;
}
